<svg class="icon-arrow-up-right" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"
  role="img" aria-labelledby="icon-arrow-up-right-title icon-arrow-up-right-desc">
  <title id="icon-arrow-up-right-title">Arrow Up Right</title>
  <desc id="icon-arrow-up-right-desc">Dark brown arrow icon pointing up and to the right</desc>
  <path d="M4.875 4.08203H12.375V11.582" stroke="#271710" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M3.625 12.832L12.375 4.08203" stroke="#271710" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
