<svg class="tier-lock" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Locked</title>
  <circle cx="8.66675" cy="8" r="8" fill="#271710"/>
  <path d="M11.8486 6.5H5.48493C5.3092 6.5 5.16675 6.63991 5.16675 6.8125V11.1875C5.16675 11.3601 5.3092 11.5 5.48493 11.5H11.8486C12.0243 11.5 12.1667 11.3601 12.1667 11.1875V6.8125C12.1667 6.63991 12.0243 6.5 11.8486 6.5Z" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.66675 7V5C6.66675 4.46957 6.87746 3.96086 7.25253 3.58579C7.62761 3.21071 8.13632 3 8.66675 3C9.19718 3 9.70589 3.21071 10.081 3.58579C10.456 3.96086 10.6667 4.46957 10.6667 5V7" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M8.66675 10C9.21903 10 9.66675 9.55228 9.66675 9C9.66675 8.44772 9.21903 8 8.66675 8C8.11446 8 7.66675 8.44772 7.66675 9C7.66675 9.55228 8.11446 10 8.66675 10Z" fill="#271710"/>
</svg>
