<svg class="icon-chevron-up" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
  role="img" aria-labelledby="icon-chevron-up-title icon-chevron-up-desc">
  <title id="icon-chevron-up-title">Chevron</title>
  <desc id="icon-chevron-up-desc">Simple chevron pointing upwards</desc>
  <path d="M18 13.875L12.375 7.625L6.75 13.875" stroke="#271710" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
