<svg class="icon-number icon-number--4" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
  role="img" aria-labelledby="icon-number-4-title icon-number-4-desc">
  <title id="icon-number-4-title">Number Four</title>
  <desc id="icon-number-4-desc">A bold number 4 icon with brown outline</desc>
  <path d="M50.6667 35.3685H46.1851V26.1936H37.8239L34.1449 35.3685H28.1918L38.6934 10.6667H24.6466L10.6667 43.581V46.1474H32.4058V53.3334H46.1851V46.1474H50.6667V35.3685Z" stroke="#CCA181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
