<svg class="icon-chevron-left" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
  role="img" aria-labelledby="icon-chevron-left-title icon-chevron-left-desc">
  <title id="icon-chevron-left-title">Chevron</title>
  <desc id="icon-chevron-left-desc">Simple chevron pointing left</desc>
  <path d="M13.875 18L7.625 12.375L13.875 6.75" stroke="#271710" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
