<svg class="icon-number icon-number--1" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
  role="img" aria-labelledby="icon-number-1-title icon-number-1-desc">
  <title id="icon-number-1-title">Number One</title>
  <desc id="icon-number-1-desc">A bold number 1 icon with brown outline</desc>
  <path d="M18.6667 10.6667V21.7023H24.9332V53.3334H38.7451V10.6667H18.6667Z" stroke="#CCA181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
