<script src="{{ 'quiz.js' | asset_url }}" defer="defer"></script>
{{ 'quiz.css' | asset_url | stylesheet_tag }}

<div class="quiz">
  <h1>{{ section.settings.heading | default: page.title }}</h1>
  {{ section.settings.quiz_code }}
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Quiz"
      },
      {
        "type": "html",
        "id": "quiz_code",
        "label": "Octane AI Quiz Code"
      }
    ]
  }
{% endschema %}
