
    <div id="replo-section-bb54c4a3-4936-41ae-8ab3-5210eab84c16" data-runtime-version="b60cbbd0-d3e8-11ed-a08d-bef95a364a21" style="display:block !important;"><div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/30e54478-0ea3-4038-acd2-155a9e4d6f58/bb54c4a3-4936-41ae-8ab3-5210eab84c16.min.js?v=b60cbbd0-d3e8-11ed-a08d-bef95a364a21" id="https://replocdn.com/w/30e54478-0ea3-4038-acd2-155a9e4d6f58/bb54c4a3-4936-41ae-8ab3-5210eab84c16.min.js?v=b60cbbd0-d3e8-11ed-a08d-bef95a364a21"></script><div data-radium="true"><style id="snippet-styles" type="text/css">.alchemy-reset :host{all:initial}.alchemy-reset *{box-sizing:border-box}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset a:visited[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset del[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset em[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset s[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset strong[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset b[data-rid],.alchemy-reset u[data-rid],.alchemy-reset i[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{letter-spacing:inherit;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset html[data-rid]::-webkit-scrollbar,.alchemy-reset body[data-rid]::-webkit-scrollbar,.alchemy-reset div[data-rid]::-webkit-scrollbar,.alchemy-reset span[data-rid]::-webkit-scrollbar,.alchemy-reset applet[data-rid]::-webkit-scrollbar,.alchemy-reset object[data-rid]::-webkit-scrollbar,.alchemy-reset iframe[data-rid]::-webkit-scrollbar,.alchemy-reset h1[data-rid]::-webkit-scrollbar,.alchemy-reset h2[data-rid]::-webkit-scrollbar,.alchemy-reset h3[data-rid]::-webkit-scrollbar,.alchemy-reset h4[data-rid]::-webkit-scrollbar,.alchemy-reset h5[data-rid]::-webkit-scrollbar,.alchemy-reset h6[data-rid]::-webkit-scrollbar,.alchemy-reset p[data-rid]::-webkit-scrollbar,.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,.alchemy-reset pre[data-rid]::-webkit-scrollbar,.alchemy-reset a[data-rid]::-webkit-scrollbar,.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,.alchemy-reset abbr[data-rid]::-webkit-scrollbar,.alchemy-reset acronym[data-rid]::-webkit-scrollbar,.alchemy-reset address[data-rid]::-webkit-scrollbar,.alchemy-reset big[data-rid]::-webkit-scrollbar,.alchemy-reset cite[data-rid]::-webkit-scrollbar,.alchemy-reset code[data-rid]::-webkit-scrollbar,.alchemy-reset del[data-rid]::-webkit-scrollbar,.alchemy-reset dfn[data-rid]::-webkit-scrollbar,.alchemy-reset em[data-rid]::-webkit-scrollbar,.alchemy-reset img[data-rid]::-webkit-scrollbar,.alchemy-reset picture[data-rid]::-webkit-scrollbar,.alchemy-reset ins[data-rid]::-webkit-scrollbar,.alchemy-reset kbd[data-rid]::-webkit-scrollbar,.alchemy-reset q[data-rid]::-webkit-scrollbar,.alchemy-reset s[data-rid]::-webkit-scrollbar,.alchemy-reset samp[data-rid]::-webkit-scrollbar,.alchemy-reset small[data-rid]::-webkit-scrollbar,.alchemy-reset strike[data-rid]::-webkit-scrollbar,.alchemy-reset strong[data-rid]::-webkit-scrollbar,.alchemy-reset sub[data-rid]::-webkit-scrollbar,.alchemy-reset sup[data-rid]::-webkit-scrollbar,.alchemy-reset tt[data-rid]::-webkit-scrollbar,.alchemy-reset var[data-rid]::-webkit-scrollbar,.alchemy-reset b[data-rid]::-webkit-scrollbar,.alchemy-reset u[data-rid]::-webkit-scrollbar,.alchemy-reset i[data-rid]::-webkit-scrollbar,.alchemy-reset center[data-rid]::-webkit-scrollbar,.alchemy-reset dl[data-rid]::-webkit-scrollbar,.alchemy-reset dt[data-rid]::-webkit-scrollbar,.alchemy-reset dd[data-rid]::-webkit-scrollbar,.alchemy-reset ol[data-rid]::-webkit-scrollbar,.alchemy-reset ul[data-rid]::-webkit-scrollbar,.alchemy-reset li[data-rid]::-webkit-scrollbar,.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,.alchemy-reset form[data-rid]::-webkit-scrollbar,.alchemy-reset label[data-rid]::-webkit-scrollbar,.alchemy-reset legend[data-rid]::-webkit-scrollbar,.alchemy-reset table[data-rid]::-webkit-scrollbar,.alchemy-reset caption[data-rid]::-webkit-scrollbar,.alchemy-reset tbody[data-rid]::-webkit-scrollbar,.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,.alchemy-reset thead[data-rid]::-webkit-scrollbar,.alchemy-reset tr[data-rid]::-webkit-scrollbar,.alchemy-reset th[data-rid]::-webkit-scrollbar,.alchemy-reset td[data-rid]::-webkit-scrollbar,.alchemy-reset article[data-rid]::-webkit-scrollbar,.alchemy-reset aside[data-rid]::-webkit-scrollbar,.alchemy-reset canvas[data-rid]::-webkit-scrollbar,.alchemy-reset details[data-rid]::-webkit-scrollbar,.alchemy-reset embed[data-rid]::-webkit-scrollbar,.alchemy-reset figure[data-rid]::-webkit-scrollbar,.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,.alchemy-reset footer[data-rid]::-webkit-scrollbar,.alchemy-reset header[data-rid]::-webkit-scrollbar,.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,.alchemy-reset menu[data-rid]::-webkit-scrollbar,.alchemy-reset nav[data-rid]::-webkit-scrollbar,.alchemy-reset output[data-rid]::-webkit-scrollbar,.alchemy-reset ruby[data-rid]::-webkit-scrollbar,.alchemy-reset section[data-rid]::-webkit-scrollbar,.alchemy-reset summary[data-rid]::-webkit-scrollbar,.alchemy-reset time[data-rid]::-webkit-scrollbar,.alchemy-reset mark[data-rid]::-webkit-scrollbar,.alchemy-reset audio[data-rid]::-webkit-scrollbar,.alchemy-reset video[data-rid]::-webkit-scrollbar,.alchemy-reset button[data-rid]::-webkit-scrollbar,.alchemy-reset select[data-rid]::-webkit-scrollbar,.alchemy-reset [data-rid]>p::-webkit-scrollbar{display:none}.alchemy-reset button[data-rid]{align-items:normal}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{font-style:inherit;text-decoration:inherit;color:inherit;background-color:transparent}.alchemy-reset .alchemy-rte a,.alchemy-reset .alchemy-rte p,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte h1,.alchemy-reset .alchemy-rte h2,.alchemy-reset .alchemy-rte h3,.alchemy-reset .alchemy-rte mark{font-style:inherit;font-family:inherit;text-decoration:inherit;text-align:inherit;text-transform:inherit;color:inherit;line-height:inherit;letter-spacing:inherit;margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline;font-size:100%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset .alchemy-rte a::-webkit-scrollbar,.alchemy-reset .alchemy-rte p::-webkit-scrollbar,.alchemy-reset .alchemy-rte s::-webkit-scrollbar,.alchemy-reset .alchemy-rte u::-webkit-scrollbar,.alchemy-reset .alchemy-rte b::-webkit-scrollbar,.alchemy-reset .alchemy-rte i::-webkit-scrollbar,.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,.alchemy-reset .alchemy-rte mark::-webkit-scrollbar{display:none}.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte strong,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte em,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del,.alchemy-reset .alchemy-rte li,.alchemy-reset .alchemy-rte span{font-family:inherit}.alchemy-reset .alchemy-rte u{text-decoration:underline}.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del{text-decoration:line-through}.alchemy-reset .alchemy-rte i{font-style:italic}.alchemy-reset .alchemy-rte b{font-weight:700}.alchemy-reset .alchemy-rte ul,.alchemy-reset .alchemy-rte li{list-style:inherit;padding-left:1.7em}.alchemy-reset .alchemy-rte code{background-color:#6161611a;color:#616161}.alchemy-reset .alchemy-rte pre{background:#0d0d0d;color:#fff;font-family:JetBrainsMono,monospace;padding:.75rem 1rem;border-radius:.5rem}.alchemy-reset .alchemy-rte pre code{color:inherit;padding:0;background:none;font-size:.8rem}.alchemy-reset .alchemy-rte img{max-width:100%;height:auto}.alchemy-reset .alchemy-rte blockquote{padding-left:1rem;border-left:2px solid rgba(13,13,13,.1)}.alchemy-reset .alchemy-rte hr{border:none;border-top:2px solid rgba(13,13,13,.1);margin:2rem 0}.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset details[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset section[data-rid]{display:block}.alchemy-reset body{line-height:1}.alchemy-reset blockquote,.alchemy-reset q{quotes:none;margin:0;padding:0;border:0}.alchemy-reset blockquote:before,.alchemy-reset blockquote:after,.alchemy-reset q:before,.alchemy-reset q:after{content:"";content:none}.alchemy-reset table{border-collapse:collapse;border-spacing:0}.alchemy-reset button>picture,.alchemy-reset button>img,.alchemy-reset a>picture,.alchemy-reset a>img{display:flex}#replo-fullpage-element{max-width:100vw;flex-grow:1;align-self:stretch}.outline--blue{outline:2px solid #2563eb}.strike:after{content:"";border-bottom:3px solid black;position:absolute;left:0;top:calc(50% - 3px);width:100%}.ReactModal__Overlay--after-open{opacity:1;transform:translateY(0)}.ReactModal__Overlay--before-close{opacity:0;transform:translateY(100px)}.replo-modal-after-open{overflow-y:hidden!important}.carouselV3--slide-reset{max-width:none!important}.carouselV3-no-transition{transition:none}.carouselV3-fade-transition{transition:opacity 1s}.carouselV3-hidden-slide{transition:opacity 1s;opacity:0}.carouselV3-visible-slide{transition:opacity 1s;opacity:1}.splide li{padding:0!important;margin:0}.splide li:before{display:none!important}.splide .splide__list{overflow:visible!important}@keyframes alchemy-marquee-left{0%{transform:translate(0)}to{transform:translate(-5%)}}@keyframes alchemy-marquee-right{0%{transform:translate(-50%)}to{transform:translate(-45%)}}@keyframes alchemy-fade{0%{opacity:var(--initial-opacity)}to{opacity:var(--final-opacity)}}@keyframes alchemy-slide-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes alchemy-slide-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset))}to{opacity:var(--final-opacity);transform:translate(0)}}@keyframes alchemy-flip-y{0%{opacity:var(--initial-opacity);transform:rotateY(var(--angle))}to{opacity:var(--final-opacity);transform:rotateY(0)}}@keyframes alchemy-flip-x{0%{opacity:var(--initial-opacity);transform:rotateX(var(--angle))}to{opacity:var(--final-opacity);transform:rotateX(0)}}@keyframes alchemy-grow{0%{opacity:var(--initial-opacity);transform:scale(var(--initial-scale))}to{opacity:var(--final-opacity);transform:scale(var(--final-scale))}}@keyframes alchemy-spin{0%{opacity:var(--initial-opacity);transform:rotate(var(--initial-angle))}to{opacity:var(--final-opacity);transform:rotate(var(--final-angle))}}@keyframes alchemy-fly-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translateY(0) scale(1)}}@keyframes alchemy-fly-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translate(0) scale(1)}}@keyframes alchemy-drop{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes replo-spin{to{transform:rotate(360deg)}}.replo-animate-spinner{animation:replo-spin 1s linear infinite}[data-replo-collapsible] .replo-animated{overflow:hidden}[data-replo-collapsible] .replo-animated[data-state=open]{animation:slideDown .2s cubic-bezier(.4,0,.2,1)}[data-replo-collapsible] .replo-animated[data-state=closed]{animation:slideUp .2s cubic-bezier(.4,0,.2,1)}@keyframes slideDown{0%{height:0}to{height:var(--radix-collapsible-content-height)}}@keyframes slideUp{0%{height:var(--radix-collapsible-content-height)}to{height:0}}
</style><style id="alchemy-runtime-css">
    body {
      overflow-y: visible !important;
    }
      
     </style><div class="alchemy__element alchemy-reset"><div data-rid="f0ab8129-9196-450f-8288-a6f0b504a5be" data-replo-repeated-index=".0" style="display:flex;min-width:var(--rmw, auto);min-height:var(--rmh, auto);max-width:100%;align-items:flex-start;flex-direction:column;justify-content:flex-start;flex-shrink:0;flex-basis:auto;position:relative;--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="6d4ae77e-8fd3-4204-a050-d3cb19eaef6b" data-replo-repeated-index=".0.0" style="display:flex;min-width:var(--rmw, auto);min-height:var(--rmh, auto);max-width:100%;align-self:stretch;margin-top:30px;align-items:center;padding-top:40px;padding-left:40px;margin-bottom:20px;padding-right:40px;padding-bottom:40px;justify-content:center;background-color:#FFFFFFFF;flex-shrink:0;flex-basis:auto;position:relative;--rmw:auto;--rmh:auto" class="rmq-1c6c1b01 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="d389045e-2fcf-4e98-8b65-9615554970b7" data-replo-repeated-index=".0.0.0" style="display:flex;min-width:var(--rmw, auto);min-height:var(--rmh, auto);flex-grow:1;max-width:1080px;align-self:stretch;align-items:center;justify-content:space-between;grid-template-columns:repeat(2, minmax(0, 1fr));flex-shrink:1;flex-basis:0;gap:40px;position:relative;--rmw:auto;--rmh:auto" class="rmq-ac95aa19 rmq-9173dfc2 rmq-90cdffdd rmq-db2eef60" data-radium="true"><div data-rid="ce64cd31-937d-4d62-8f37-4fd3c13ec6ae" data-replo-repeated-index=".0.0.0.0" style="display:flex;min-width:var(--rmw, auto);min-height:var(--rmh, auto);flex-grow:1;max-width:480px;align-self:stretch;align-items:center;flex-direction:column;justify-content:center;flex-shrink:1;flex-basis:0;gap:32px;position:relative;--rmw:auto;--rmh:auto" class="rmq-50ad7e59 rmq-307b6d4b rmq-a0ff34b8 rmq-8069d565" data-radium="true"><div data-rid="ab5a563e-b4ec-4bf8-9f4f-126ca3e484fd" data-replo-repeated-index=".0.0.0.0.0" class="rmq-5e14ead9 rmq-6fe49f1e rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#333029;font-size:45px;text-align:center;font-family:&quot;Mont Light&quot;, sans-serif;font-weight:300;line-height:111%;letter-spacing:0.5px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" data-testid="editable-content" style="width:100%" data-radium="true"><p>Available in <strong>2,500+</strong> locations</p></span></div><div data-rid="faf4f9c4-2f3f-452d-9b70-da4a1fd76d58" data-replo-repeated-index=".0.0.0.0.0" class="rmq-f9a82f1e rmq-986ab006 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#4D4D4D;font-size:20px;text-align:center;font-weight:400;line-height:24px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" data-testid="editable-content" style="width:100%" data-radium="true"><p>From your local waxing salon to Ulta Beauty, we're proudly featured and sold in over 2,500 locations. Find the nearest to you!</p></span></div><a data-rid="416c71e5-6804-4aae-9241-aca0b5559062" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="rmq-dadfe06d rmq-a945d4ec rmq-e3e5ac0e rmq-efd51653 alchemy-rte text" style="text-align:center;color:#FFFFFFFF;width:100%;cursor:pointer;font-size:20px;max-width:350px;font-family:&quot;Mont Regular&quot;, sans-serif;font-weight:400;line-height:22px;padding-top:15px;padding-left:32px;padding-right:32px;letter-spacing:1px;padding-bottom:15px;border-top-color:#000000FF;background-color:#271710;border-left-color:#000000FF;border-right-color:#000000FF;border-bottom-color:#000000FF;border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;overflow:hidden;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" data-testid="editable-content" style="width:100%" data-radium="true"><p>FIND IN WAXING SALONS</p></span></a><a data-rid="2f602014-abfc-41b0-b744-250211b43329" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="rmq-dadfe06d rmq-a945d4ec rmq-e3e5ac0e rmq-efd51653 alchemy-rte text" style="text-align:center;color:#FFFFFFFF;width:100%;cursor:pointer;font-size:20px;max-width:350px;font-family:&quot;Mont Regular&quot;, sans-serif;font-weight:400;line-height:22px;padding-top:15px;padding-left:32px;padding-right:32px;letter-spacing:1px;padding-bottom:15px;text-transform:uppercase;border-top-color:#000000FF;background-color:#271710;border-left-color:#000000FF;border-right-color:#000000FF;border-bottom-color:#000000FF;border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;overflow:hidden;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" data-testid="editable-content" style="width:100%" data-radium="true"><p>FIND IN ULTA Beauty</p></span></a></div><picture data-rid="03bfd838-524a-4fd5-a201-24f75f4ed238" data-replo-repeated-index=".0.0.0.0" style="display:flex;overflow:hidden;flex-grow:1;max-width:800px;object-fit:cover;border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;-webkit-mask-image:-webkit-radial-gradient(white, black);flex-shrink:1;flex-basis:0" class="rmq-69c3e42e rmq-cb464482 rmq-9799c8f7 rmq-62f0790a" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/1292/0701/files/Bushbalm_on_Display.jpg?v=1680117588&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1292/0701/files/Bushbalm_on_Display.jpg?v=1680117588&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1292/0701/files/Bushbalm_on_Display.jpg?v=1680117588&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1292/0701/files/Bushbalm_on_Display.jpg?v=1680117588&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1292/0701/files/Bushbalm_on_Display.jpg?v=1680117588" style="display:block;padding:0;margin:0;--rmh:100%;object-fit:cover;width:100%;min-height:var(--rmh, auto);max-height:var(--rmh, none)" loading="eager" class="rmq-e1d10cfe rmq-a0508e1c rmq-de3b49a9 rmq-ddc41c94" data-radium="true"/></picture></div></div></div></div><style>@media (max-width: 640px){ .rmq-49769b02{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-aa5fdf60{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c1936f55{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-cc200de8{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1c6c1b01{align-items: center !important;
padding-left: 20px !important;
padding-right: 20px !important;
flex-direction: column !important;
justify-content: center !important;
background-color: #FFFFFFFF !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-ac95aa19{max-width: 400px !important;
display: flex !important;
flex-direction: column !important;
flex-shrink: 1 !important;
flex-basis: auto !important;
gap: 30px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-9173dfc2{max-width: 760px !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 40px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-90cdffdd{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 40px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-db2eef60{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 40px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-50ad7e59{flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;
gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-307b6d4b{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 25px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-a0ff34b8{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 32px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-8069d565{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 32px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-5e14ead9{font-size: 32px !important;
line-height: 34px !important;
width: auto !important;
align-self: stretch !important;
text-align: center !important;
font-family: "Mont Light", sans-serif !important;
font-weight: 300 !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-6fe49f1e{font-size: 30px !important;
line-height: 35px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-73e28289{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-98eef734{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-f9a82f1e{text-align: center !important;
font-size: 18px !important;
font-family: "Mont Regular", sans-serif !important;
line-height: 24px !important;
padding-top: 20px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-986ab006{text-align: center !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-dadfe06d{max-width: 300px !important;
padding-top: 12px !important;
padding-left: 25px !important;
padding-right: 25px !important;
padding-bottom: 12px !important;
font-size: 16px !important;
font-family: "Mont Regular", sans-serif !important;
font-weight: 400 !important;
line-height: 22px !important;
text-transform: uppercase !important;
border-top-color: #000000FF !important;
border-top-style: none !important;
border-left-color: #000000FF !important;
border-left-style: none !important;
border-right-color: #000000FF !important;
border-right-style: none !important;
border-bottom-color: #000000FF !important;
border-bottom-style: none !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a945d4ec{max-width: 300px !important;
padding-top: 12px !important;
padding-left: 25px !important;
padding-right: 25px !important;
padding-bottom: 12px !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-e3e5ac0e{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-efd51653{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-e1d10cfe{--rmh: 100% !important;
object-fit: cover !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a0508e1c{--rmh: 100% !important;
object-fit: cover !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-de3b49a9{--rmh: 100% !important;
object-fit: cover !important;}}
@media (min-width: 1025px){ .rmq-ddc41c94{--rmh: 100% !important;
object-fit: cover !important;}}
@media (max-width: 640px){ .rmq-69c3e42e{flex-grow: 1 !important;
box-shadow: 0px 4px 6px 0px #00000080 !important;
flex-basis: auto !important;
border-top-style: none !important;
border-top-width: 0px !important;
border-left-style: none !important;
border-left-width: 0px !important;
border-right-style: none !important;
border-right-width: 0px !important;
border-bottom-style: none !important;
border-bottom-width: 0px !important;
border-top-left-radius: 30px !important;
border-top-right-radius: 30px !important;
border-bottom-left-radius: 30px !important;
border-bottom-right-radius: 30px !important;
-webkit-mask-image: -webkit-radial-gradient(white, black) !important;
overflow: hidden !important;
flex-shrink: 1 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-cb464482{-webkit-mask-image: -webkit-radial-gradient(white, black) !important;
overflow: hidden !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-9799c8f7{-webkit-mask-image: -webkit-radial-gradient(white, black) !important;
overflow: hidden !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 1025px){ .rmq-62f0790a{-webkit-mask-image: -webkit-radial-gradient(white, black) !important;
overflow: hidden !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}</style></div></div></div>
    
    {% schema %}
    {
    "name": "Ulta Find",
        "presets":[{
            "name": "Ulta Find"
        }]
    }
    {% endschema %}
  
  