<script src="{{ 'simple-html.js' | asset_url }}" defer="defer"></script>
{{ 'simple-html.css' | asset_url | stylesheet_tag }}

<div class="simple-html">
  <div class="wrapper">
    {% if section.settings.heading != blank %}
      <h1>{{ section.settings.heading }}</h1>
    {% endif %}
    {{ section.settings.html }}
  </div>
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "(optional)"
      },
      {
        "type": "html",
        "id": "html",
        "label": "HTML"
      }
    ],
    "presets": [
      {
        "name": "Simple HTML"
      }
    ]
  }
{% endschema %}
