.link-bar-wrapper .slider__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
}

@media screen and (max-width: 989px) {
  .link-bar-wrapper .slider.slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  .link-bar-wrapper .slider.slider--tablet .slider__slide {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.link-bar-wrapper .slider {
  scrollbar-color: rgb(var(--color-foreground))
    rgba(var(--color-foreground), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.link-bar-wrapper .slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .link-bar-wrapper .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .link-bar-wrapper .slider::-webkit-scrollbar {
  display: initial;
}

.link-bar-wrapper .slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  border-radius: 0.4rem;
  border: 0;
}

.link-bar-wrapper .slider::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.04);
  border-radius: 0.4rem;
}

/* TO DO : Probably don't need a counter at all. */
.link-bar-wrapper .slider-counter {
  margin: 0 1.2rem;
  display: flex;
  min-width: 2rem;
}

@media screen and (max-width: 749px) {
  .link-bar-wrapper .slider-counter__link {
    padding: 0.7rem;
  }
}
