.sl-brandstyle-196f3292-45d4-41cf-9223-ec3c5ae0e711 .sl-font-style--title {
font-family: "Mont Extra Light";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-196f3292-45d4-41cf-9223-ec3c5ae0e711 .sl-font-style--body {
font-family: "Mont Regular";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-196f3292-45d4-41cf-9223-ec3c5ae0e711 .sl-font-style--button {
font-family: "Mont Semi Bold";
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-brandstyle-196f3292-45d4-41cf-9223-ec3c5ae0e711 .sl-font-style--label {
font-family: "Mont Semi Bold";
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-99edd2a5-f21f-4ccd-bad4-17c77f2ecab4 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-99edd2a5-f21f-4ccd-bad4-17c77f2ecab4 .sl-font-style--title { color: #271710; }
.sl-pattern-99edd2a5-f21f-4ccd-bad4-17c77f2ecab4 .sl-font-style--body { color: #271710; }
.sl-pattern-99edd2a5-f21f-4ccd-bad4-17c77f2ecab4 .sl-font-style--button { color: #271710; }
.sl-pattern-99edd2a5-f21f-4ccd-bad4-17c77f2ecab4 .sl-font-style--label { color: #271710; }
.sl-pattern-99edd2a5-f21f-4ccd-bad4-17c77f2ecab4 .sl-button--brand-style {
color: #271710;
background-color: #ffffff;
}
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-font-style--title { color: #271710; }
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-font-style--body { color: #271710; }
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-font-style--button { color: #271710; }
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-font-style--label { color: #271710; }
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-button--brand-style {
color: #271710;
background-color: #ffffff;
}
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-button--button-style { border: 2px solid; }
.sl-pattern-0fd70e57-be0e-4e60-a2c8-edc6988275d8 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #271710;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 .sl-font-style--title { color: #271710; }
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 .sl-font-style--body { color: #271710; }
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 .sl-font-style--button { color: #ffffff; }
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 .sl-font-style--label { color: #271710; }
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 .sl-button--brand-style {
color: #ffffff;
background-color: #271710;
}
.sl-pattern-8bce4662-4a01-482f-97aa-ac7b60a792a7 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #f8e2c9;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 .sl-font-style--title { color: #271710; }
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 .sl-font-style--body { color: #271710; }
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 .sl-font-style--button { color: #271710; }
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 .sl-font-style--label { color: #271710; }
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 .sl-button--brand-style {
color: #271710;
background-color: #f8e2c9;
}
.sl-pattern-e6b19ef2-42c4-4435-ab5f-4baf33feba51 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-574feb9f-ac72-402f-a677-3e5caf158df6 {
background-color: #8ebde6;
border-style: none;
--sl-gv-bg-color: #8ebde6;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #8ebde6;
}
.sl-pattern-574feb9f-ac72-402f-a677-3e5caf158df6 .sl-font-style--title { color: #271710; }
.sl-pattern-574feb9f-ac72-402f-a677-3e5caf158df6 .sl-font-style--body { color: #271710; }
.sl-pattern-574feb9f-ac72-402f-a677-3e5caf158df6 .sl-font-style--button { color: #271710; }
.sl-pattern-574feb9f-ac72-402f-a677-3e5caf158df6 .sl-font-style--label { color: #271710; }
.sl-pattern-574feb9f-ac72-402f-a677-3e5caf158df6 .sl-button--brand-style {
color: #271710;
background-color: #8ebde6;
}
.sl-pattern-1265f33b-de72-4323-9937-652a09ca8caf {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-1265f33b-de72-4323-9937-652a09ca8caf .sl-font-style--title { color: #000000; }
.sl-pattern-1265f33b-de72-4323-9937-652a09ca8caf .sl-font-style--body { color: #000000; }
.sl-pattern-1265f33b-de72-4323-9937-652a09ca8caf .sl-font-style--label { color: #000000; }
.sl-pattern-1265f33b-de72-4323-9937-652a09ca8caf .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-8fe7c05d-84cb-4651-9c65-9379321ab5f1 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-8fe7c05d-84cb-4651-9c65-9379321ab5f1 .sl-font-style--title { color: #ffffff; }
.sl-pattern-8fe7c05d-84cb-4651-9c65-9379321ab5f1 .sl-font-style--body { color: #271710; }
.sl-pattern-8fe7c05d-84cb-4651-9c65-9379321ab5f1 .sl-font-style--button { color: #ffffff; }
.sl-pattern-8fe7c05d-84cb-4651-9c65-9379321ab5f1 .sl-font-style--label { color: #ffffff; }
.sl-pattern-8fe7c05d-84cb-4651-9c65-9379321ab5f1 .sl-button--brand-style {
color: #ffffff;
background-color: #ffffff;
}
.sl-pattern-9d56587d-12bd-416d-a8c0-232c7b234b2d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-9d56587d-12bd-416d-a8c0-232c7b234b2d .sl-font-style--title { color: #271710; }
.sl-pattern-9d56587d-12bd-416d-a8c0-232c7b234b2d .sl-font-style--body { color: #271710; }
.sl-pattern-9d56587d-12bd-416d-a8c0-232c7b234b2d .sl-font-style--button { color: #271710; }
.sl-pattern-9d56587d-12bd-416d-a8c0-232c7b234b2d .sl-font-style--label { color: #271710; }
.sl-pattern-9d56587d-12bd-416d-a8c0-232c7b234b2d .sl-button--brand-style {
color: #271710;
background-color: #ffffff;
}
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #f8e2c9;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab .sl-font-style--title { color: #271710; }
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab .sl-font-style--body { color: #271710; }
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab .sl-font-style--button { color: #000000; }
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab .sl-font-style--label { color: #ffffff; }
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab .sl-button--brand-style {
color: #000000;
background-color: #f8e2c9;
}
.sl-pattern-3697b0e4-9daf-4015-8e86-0e84b80718ab .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-40a89799-2623-40fd-ace0-22495de380c9 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-40a89799-2623-40fd-ace0-22495de380c9 .sl-font-style--title { color: #000000; }
.sl-pattern-40a89799-2623-40fd-ace0-22495de380c9 .sl-font-style--body { color: #000000; }
.sl-pattern-40a89799-2623-40fd-ace0-22495de380c9 .sl-font-style--label { color: #000000; }
.sl-pattern-40a89799-2623-40fd-ace0-22495de380c9 .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-a85faa2b-8c93-4f96-92c8-0eeb971c9a8c {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #383633;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-a85faa2b-8c93-4f96-92c8-0eeb971c9a8c .sl-font-style--title { color: #383633; }
.sl-pattern-a85faa2b-8c93-4f96-92c8-0eeb971c9a8c .sl-font-style--body { color: #383633; }
.sl-pattern-a85faa2b-8c93-4f96-92c8-0eeb971c9a8c .sl-font-style--button { color: #383633; }
.sl-pattern-a85faa2b-8c93-4f96-92c8-0eeb971c9a8c .sl-font-style--label { color: #383633; }
.sl-pattern-a85faa2b-8c93-4f96-92c8-0eeb971c9a8c .sl-button--brand-style {
color: #383633;
background-color: #ffffff;
}
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #363937;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-font-style--title { color: #363937; }
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-font-style--body { color: #363937; }
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-font-style--button { color: #363937; }
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-font-style--label { color: #363937; }
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-button--brand-style {
color: #363937;
background-color: #ffffff;
}
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-button--button-style { border: 2px solid; }
.sl-pattern-c5d362dc-558c-4f53-b3b4-1a69088f6644 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #271710;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d .sl-font-style--title { color: #7a482a; }
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d .sl-font-style--body { color: #271710; }
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d .sl-font-style--button { color: #ffffff; }
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d .sl-font-style--label { color: #7a482a; }
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d .sl-button--brand-style {
color: #ffffff;
background-color: #271710;
}
.sl-pattern-ac4aaf71-b8c4-4a6a-8fad-46e9fb712f8d .sl-button--border-radius { border-radius: 40px; }
.sl-brandstyle-ffa70841-2d62-4ae3-a6f8-30dfdf5dee24 .sl-font-style--title {
font-family: "Mont Extra Light";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-ffa70841-2d62-4ae3-a6f8-30dfdf5dee24 .sl-font-style--body {
font-family: "Mont Regular";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-ffa70841-2d62-4ae3-a6f8-30dfdf5dee24 .sl-font-style--button {
font-family: "Mont Semi Bold";
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-brandstyle-ffa70841-2d62-4ae3-a6f8-30dfdf5dee24 .sl-font-style--label {
font-family: "Mont Semi Bold";
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #f8e2c9;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 .sl-font-style--title { color: #271710; }
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 .sl-font-style--body { color: #271710; }
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 .sl-font-style--button { color: #271710; }
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 .sl-font-style--label { color: #271710; }
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 .sl-button--brand-style {
color: #271710;
background-color: #f8e2c9;
}
.sl-pattern-5510ae1b-99af-4265-a84b-a9822d5ed745 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #271710;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 .sl-font-style--title { color: #7a482a; }
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 .sl-font-style--body { color: #271710; }
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 .sl-font-style--button { color: #ffffff; }
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 .sl-font-style--label { color: #7a482a; }
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 .sl-button--brand-style {
color: #ffffff;
background-color: #271710;
}
.sl-pattern-ceef1e9d-c43c-488a-8dee-f0e910ed4b35 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-3a6f9810-e5ac-4b33-97fd-0f75ae1e72c7 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-3a6f9810-e5ac-4b33-97fd-0f75ae1e72c7 .sl-font-style--title { color: #ffffff; }
.sl-pattern-3a6f9810-e5ac-4b33-97fd-0f75ae1e72c7 .sl-font-style--body { color: #271710; }
.sl-pattern-3a6f9810-e5ac-4b33-97fd-0f75ae1e72c7 .sl-font-style--button { color: #ffffff; }
.sl-pattern-3a6f9810-e5ac-4b33-97fd-0f75ae1e72c7 .sl-font-style--label { color: #ffffff; }
.sl-pattern-3a6f9810-e5ac-4b33-97fd-0f75ae1e72c7 .sl-button--brand-style {
color: #ffffff;
background-color: #ffffff;
}
.sl-pattern-07a462be-1c38-455f-9282-731621b8274f {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-07a462be-1c38-455f-9282-731621b8274f .sl-font-style--title { color: #271710; }
.sl-pattern-07a462be-1c38-455f-9282-731621b8274f .sl-font-style--body { color: #271710; }
.sl-pattern-07a462be-1c38-455f-9282-731621b8274f .sl-font-style--button { color: #271710; }
.sl-pattern-07a462be-1c38-455f-9282-731621b8274f .sl-font-style--label { color: #271710; }
.sl-pattern-07a462be-1c38-455f-9282-731621b8274f .sl-button--brand-style {
color: #271710;
background-color: #ffffff;
}
.sl-pattern-693b6333-fb85-44dc-8e8e-a2915b384130 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #383633;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-693b6333-fb85-44dc-8e8e-a2915b384130 .sl-font-style--title { color: #383633; }
.sl-pattern-693b6333-fb85-44dc-8e8e-a2915b384130 .sl-font-style--body { color: #383633; }
.sl-pattern-693b6333-fb85-44dc-8e8e-a2915b384130 .sl-font-style--button { color: #383633; }
.sl-pattern-693b6333-fb85-44dc-8e8e-a2915b384130 .sl-font-style--label { color: #383633; }
.sl-pattern-693b6333-fb85-44dc-8e8e-a2915b384130 .sl-button--brand-style {
color: #383633;
background-color: #ffffff;
}
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-font-style--title { color: #271710; }
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-font-style--body { color: #271710; }
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-font-style--button { color: #271710; }
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-font-style--label { color: #271710; }
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-button--brand-style {
color: #271710;
background-color: #ffffff;
}
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-button--button-style { border: 2px solid; }
.sl-pattern-9a0d2900-685f-41ce-9675-94e72bf2f734 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #363937;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-font-style--title { color: #363937; }
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-font-style--body { color: #363937; }
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-font-style--button { color: #363937; }
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-font-style--label { color: #363937; }
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-button--brand-style {
color: #363937;
background-color: #ffffff;
}
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-button--button-style { border: 2px solid; }
.sl-pattern-70daedbc-3b69-40fd-a965-ec1931091f7d .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-dc45c194-b585-4ab4-93b4-ea826b899588 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-dc45c194-b585-4ab4-93b4-ea826b899588 .sl-font-style--title { color: #000000; }
.sl-pattern-dc45c194-b585-4ab4-93b4-ea826b899588 .sl-font-style--body { color: #000000; }
.sl-pattern-dc45c194-b585-4ab4-93b4-ea826b899588 .sl-font-style--label { color: #000000; }
.sl-pattern-dc45c194-b585-4ab4-93b4-ea826b899588 .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #f8e2c9;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 .sl-font-style--title { color: #271710; }
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 .sl-font-style--body { color: #271710; }
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 .sl-font-style--button { color: #000000; }
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 .sl-font-style--label { color: #ffffff; }
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 .sl-button--brand-style {
color: #000000;
background-color: #f8e2c9;
}
.sl-pattern-bca5b95f-bb70-4574-b728-fc303074a583 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-78888683-5e0f-49c5-af37-f321474497e1 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-78888683-5e0f-49c5-af37-f321474497e1 .sl-font-style--title { color: #000000; }
.sl-pattern-78888683-5e0f-49c5-af37-f321474497e1 .sl-font-style--body { color: #000000; }
.sl-pattern-78888683-5e0f-49c5-af37-f321474497e1 .sl-font-style--label { color: #000000; }
.sl-pattern-78888683-5e0f-49c5-af37-f321474497e1 .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #271710;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 .sl-font-style--title { color: #271710; }
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 .sl-font-style--body { color: #271710; }
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 .sl-font-style--button { color: #ffffff; }
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 .sl-font-style--label { color: #271710; }
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 .sl-button--brand-style {
color: #ffffff;
background-color: #271710;
}
.sl-pattern-15c621f0-0099-416d-a667-23271db64298 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-a54390bf-743e-4c84-aa1e-ff945522596e {
background-color: #8ebde6;
border-style: none;
--sl-gv-bg-color: #8ebde6;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #8ebde6;
}
.sl-pattern-a54390bf-743e-4c84-aa1e-ff945522596e .sl-font-style--title { color: #271710; }
.sl-pattern-a54390bf-743e-4c84-aa1e-ff945522596e .sl-font-style--body { color: #271710; }
.sl-pattern-a54390bf-743e-4c84-aa1e-ff945522596e .sl-font-style--button { color: #271710; }
.sl-pattern-a54390bf-743e-4c84-aa1e-ff945522596e .sl-font-style--label { color: #271710; }
.sl-pattern-a54390bf-743e-4c84-aa1e-ff945522596e .sl-button--brand-style {
color: #271710;
background-color: #8ebde6;
}
.sl-pattern-9359ddf7-ef42-4595-82a9-8fd9131b2d8b {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #271710;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-9359ddf7-ef42-4595-82a9-8fd9131b2d8b .sl-font-style--title { color: #271710; }
.sl-pattern-9359ddf7-ef42-4595-82a9-8fd9131b2d8b .sl-font-style--body { color: #271710; }
.sl-pattern-9359ddf7-ef42-4595-82a9-8fd9131b2d8b .sl-font-style--button { color: #271710; }
.sl-pattern-9359ddf7-ef42-4595-82a9-8fd9131b2d8b .sl-font-style--label { color: #271710; }
.sl-pattern-9359ddf7-ef42-4595-82a9-8fd9131b2d8b .sl-button--brand-style {
color: #271710;
background-color: #ffffff;
}
